.main {
    background: #fff;
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.main h1 {
    font-size: 30px;
    text-align: center;
}

.form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input[type="text"] {
    height: 30px;
    padding: 0 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    min-width: 80%;
}

.form button[type="submit"] {
    border: none;
    height: 32px;
    width: 32px;
    background: #b117dc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarefas {
    margin-top: 30px;
}

.tarefas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 400ms;
}

.tarefas li:hover {
    background: #c1dae0;
}

.tarefas li .edit {
    margin-right: 15px;
    color: #23849c;
}

.tarefas li .delete {
    margin-right: 15px;
    color: #f33c3c;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
    color: #000;
}

.tarefas li .edit,
.tarefas li .delete {
    cursor: pointer;
    transition: all 400ms;
}